:root {
    --github-header-color: rgb(22, 27, 34);
    --unicred-gold-color:rgb(167, 148, 80);

}
.navbar{
    background-color:var(--github-header-color);
}
body{
    background-color: rgb(37, 51, 66);
}
.card{
    border-radius: 20px;
    background-color:var(--github-header-color);
    box-shadow:   10px 10px 20px #1a232e,
    -10px -10px 20px #304356;
}
.card-body, .navbar a ,.modal-body{
    color:white;
}
.card img{
    border: 4px solid rgb(37, 51, 66) ;
    border-radius: 50%;
    width: 90%;
    margin:4px auto;
}
#cards a{
   text-decoration: none;
}
.tableHeader , .modal-header{
    color: white;
    background-color:var(--github-header-color);
}
#selectButton{
    min-width: 100px;
    color: ;
}
.modal-body{
    background-color: rgba(0, 0, 0, 0.6);
}
.second-modal-body{
    background-color: rgb(37, 51, 66);
}

.blinkShadow{
    animation: blink 4s  infinite ease-in-out
}
@keyframes blink{
    0%{
    
        box-shadow: 0px 0px  0.2em rgb(0, 0, 0,0.3);
    }
    50%{
        box-shadow: 0px 0px 0.6em var(--unicred-gold-color);
    }
    100%{
        box-shadow: 0px 0px 0.2em rgb(0, 0, 0, 0.3);
    }

}
